<!DOCTYPE html>
<html>
<head>
	<link type="text/stylesheet" href="../assets/stylesheets/design.css">
	<meta charset="UTF-8">
	<title>Página jogo</title>
</head>
<body>
	<div id="div">
		<h1>Hello Game</h1>
	</div>
</body>
</html>